# Base de datos
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES=7d

# pgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# App
PORT=3000
NODE_ENV=development